<!-- Sidebar -->
<ul
    class="visible-md visible-lg navbar-nav bg-very-dark sidebar sidebar-dark accordion fixed-left"
    id="accordionSidebar"
>
    <div class="side-nav m-2">
    <!-- Sidebar - Brand -->
    <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="/"
    >
        <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-tools"></i>
        </div>
        <div class="sidebar-brand-text mx-3">잇플<sup> 2.0.2V</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>대쉬보드</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">
        BOOKMARKS
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseTwo"
        >
        <i class="fas fa-fw fa-cog"></i>
        <span>관리자</span>
        </a>
        <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
        >
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">관리자 사이트 맵</h6>
            <a class="collapse-item" href="/admin">관리자 툴</a>
        </div>
        </div>

        <a
        class="nav-link collapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="true"
        aria-controls="collapseTwo"
        >
        <i class="fas fa-fw fa-list-alt"></i>
        <span>세일즈</span>
        </a>
        <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordionSidebar"
        >
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">세일즈 팀 사이트 맵</h6>
            <a class="collapse-item" href="/sales"
            >메뉴 실시간 현황</a
            >
            <a class="collapse-item" href="/sales/menu_list"
            >메뉴 리스트</a
            >
        </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center w-100">
        <button
        class="bg-primary rounded-circle border-0 p-2"
        id="sidebarToggle"
        ></button>
    </div>
    </div>
</ul>
<!-- End of Sidebar -->
