<body class="bg-very-dark">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center align-items-center" style="height: 100vh;">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card bg-dark o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-200 mb-4">Beny's watching you.</h1>
                  </div>

                  <form method="POST" action="/admin/api/auth/login" class="user">
                    {% csrf_token %}
                    <div class="form-group">
                      <input type="email" name="username" class="form-control form-control-user" id="username" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                        {{ form.username }}
                      </input>
                    </div>
                    <div class="form-group">
                      <input type="password" name="password"  class="form-control form-control-user" id="password" placeholder="Password">
                      {{ form.password }}
                      </input>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.js"></script>

</body>