{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load humanize %} 
{% load compress %} 
{% load eatple_app_extras %} 

{% block content %}
    <div class="container-fluid">
        <div class="card-body">
            <div class="row">
                <!-- Total User Counter Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark text-white py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 가입자 수</div>
                                    <div class="h6 font-weight-bold" id="TotalUserStatus"><i id="TotalUserStatusIcon" class="fas"></i> {{ totalUserIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalUser }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Toal Eatplepass Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark text-white py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 발급된 패스</div>
                                    <div class="h6 font-weight-bold text-success"><i class="fas fa-angle-up"></i> {{ totalStock }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalOrder }} 패스</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ticket-alt fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Daily Selled Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark text-white py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 주문건</div>
                                    <div class="h6 font-weight-bold" id="TotalStockStatus"><i id="TotalStockStatusIcon" class="fas"></i> {{ totalStockIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalStock }} 개</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-boxes fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark text-white py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 픽업</div>
                                    <div class="h6 font-weight-bold text-danger">
                                        </i> <small>주문 실패</small> {{ orderFailed }} 개</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalPickuped }} 개</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-hand-holding-heart fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="card bg-dark text-white mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">일일 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Area Chart -->
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="card bg-dark text-white mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">실시간 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myDailyAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Pie Chart -->
                <div class="col-md-12 col-xl-2 col-lg-2">
                    <div class="card bg-dark text-white mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">일일 주문 차지 비율<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> 베스트 메뉴 : {{ menus.first }} {{ menus.first.current_stock }}개
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-4 col-lg-4">
                    <div class="card bg-dark m-b-30">
                        <div class="card-header">                                
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="m-0 font-weight-bold text-primary">일일 판매 업체</h5>
                                </div>
                                <div class="col-4">
                                    <ul class="list-inline-group text-right mt-1 mb-0 pl-0">
                                        <li class="list-inline-item mr-0 font-12"><i class="feather icon-more-vertical- font-20 text-primary"></i></li>
                                    </ul>                                        
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive dash-flag-icon">
                                <table class="table table-borderless mb-2">
                                <thead>
                                    <tr>
                                    <th class="m-0 font-weight-bold text-primary" scope="col ">로고</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">매장</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">일일 주문건</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">전체 주문건</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for store in storesWithStock|slice:":15" %}
                                        <tr>
                                            <th scope="row"><img class="store-logo" src="{{ store.logo.url }}""></th>
                                            <td>{{ store.name }}</td>
                                            <td>{{ store.currentStock }}</td>
                                            <td>{{ store.getTotalStock }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Area Chart -->
                <div class="col-md-12 col-xl-6 col-lg-6">
                    <div class="card bg-dark text-white mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">실시간 픽업 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myPickupTimeChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-4">
                    <div class="card bg-dark m-b-30">
                        <div class="card-header">                                
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="m-0 font-weight-bold text-primary">전전달 업체별 주문건</h5>
                                </div>
                                <div class="col-4">
                                    <ul class="list-inline-group text-right mt-1 mb-0 pl-0">
                                        <li class="list-inline-item mr-0 font-12"><i class="feather icon-more-vertical- font-20 text-primary"></i></li>
                                    </ul>                                        
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive dash-flag-icon">
                                <table class="table table-borderless mb-2">
                                <thead>
                                    <tr>
                                    <th class="m-0 font-weight-bold text-primary" scope="col ">로고</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">매장</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">월 주문건</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">주문 차지 비율</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for store in storesOrderByPrevPrevMonth|slice:":15" %}
                                        <tr>
                                            <th scope="row"><img class="store-logo" src="{{ store.logo.url }}""></th>
                                            <td>{{ store.name }}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                    {{ store.getPrevPrevMonthStock.0 }} 건
                                                    </div>
                                                    <div class="col-6">
                                                        <p>
                                                            {% if  store.getPrevPrevIncreaseStock > 0 %}
                                                            <span class="badge badge-success-inverse font-16">
                                                                +{{ store.getPrevPrevIncreaseStock }}
                                                                <i class="fas fa-angle-double-up"></i>
                                                            </span>
                                                            {% else %}
                                                            <span class="badge badge-danger-inverse font-16">
                                                                {{ store.getPrevPrevIncreaseStock }}
                                                                <i class="fas fa-angle-double-down"></i>
                                                            </span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </row>
                                            </td>
                                            <td>{{ store.getPrevPrevMonthStock.0|div:store.getPrevPrevMonthStock.1 }}%</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-12 col-lg-4 col-xl-4">
                    <div class="card bg-dark m-b-30">
                        <div class="card-header">                                
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="m-0 font-weight-bold text-primary">이전달 업체별 주문건</h5>
                                </div>
                                <div class="col-4">
                                    <ul class="list-inline-group text-right mt-1 mb-0 pl-0">
                                        <li class="list-inline-item mr-0 font-12"><i class="feather icon-more-vertical- font-20 text-primary"></i></li>
                                    </ul>                                        
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive dash-flag-icon">
                                <table class="table table-borderless mb-2">
                                <thead>
                                    <tr>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">로고</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">매장</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">월 주문건 수</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">주문 차지 비율</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for store in storesOrderByPrevMonth|slice:":15" %}
                                        <tr>
                                            <th scope="row"><img class="store-logo" src="{{ store.logo.url }}""></th>
                                            <td>{{ store.name }}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                    {{ store.getPrevMonthStock.0 }} 건
                                                    </div>
                                                    <div class="col-2">
                                                        <p>
                                                            {% if  store.getPrevIncreaseStock > 0 %}
                                                            <span class="badge badge-success-inverse font-16">
                                                                +{{ store.getPrevIncreaseStock }}
                                                                <i class="fas fa-angle-double-up"></i>
                                                            </span>
                                                            {% else %}
                                                            <span class="badge badge-danger-inverse font-16">
                                                                {{ store.getPrevIncreaseStock }}
                                                                <i class="fas fa-angle-double-down"></i>
                                                            </span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                </row>
                                            </td>
                                            <td>{{ store.getPrevMonthStock.0|div:store.getPrevMonthStock.1 }}%</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-lg-4 col-xl-4">
                    <div class="card bg-dark m-b-30">
                        <div class="card-header">                                
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5 class="m-0 font-weight-bold text-primary">이번달 업체별 주문건</h5>
                                </div>
                                <div class="col-4">
                                    <ul class="list-inline-group text-right mt-1 mb-0 pl-0">
                                        <li class="list-inline-item mr-0 font-12"><i class="feather icon-more-vertical- font-20 text-primary"></i></li>
                                    </ul>                                        
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive dash-flag-icon">
                                <table class="table table-borderless mb-2">
                                <thead>
                                    <tr>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">로고</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">매장</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">월 주문건 수</th>
                                    <th class="m-0 font-weight-bold text-primary" scope="col">주문 차지 비율</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for store in stores|slice:":15" %}
                                        <tr>
                                            <th scope="row"><img class="store-logo" src="{{ store.logo.url }}""></th>
                                            <td>{{ store.name }}</td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-6">
                                                        {{ store.getMontlyStock.0 }} 건
                                                    </div>
                                                    <div class="col-2">
                                                        <p>
                                                            {% if  store.getCurrentIncreaseStock > 0 %}
                                                            <span class="badge badge-success-inverse font-16">
                                                                +{{ store.getCurrentIncreaseStock }}
                                                                <i class="fas fa-angle-double-up"></i>
                                                            </span>
                                                            {% else %}
                                                            <span class="badge badge-danger-inverse font-16">
                                                                {{ store.getCurrentIncreaseStock }}
                                                                <i class="fas fa-angle-double-down"></i>
                                                            </span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                            </td>
                                            <td>{{ store.getMontlyStock.0|div:store.getMontlyStock.1 }}%</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 

{% block content_js %}
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level javascript -->
    {% compress js %}
    <script>
        totalUserIncrease = '{{ totalUserIncrease }}'
        totalStockIncrease = '{{ totalStockIncrease }}'
        totalPriceIncrease = '{{ totalPriceIncrease }}'

        pickupChartLabel = '{{ pickupChartLabel }}';
        pickupChartLabel = pickupChartLabel.split(",");

        pickupChartData = '{{ pickupChartData }}';
        pickupChartData = pickupChartData.split(",");

        areaDailyData = '{{ areaDailyData }}';
        areaDailyData = areaDailyData.split(",");

        areaDailyLabel = '{{ areaDailyLabel }}';
        areaDailyLabel = areaDailyLabel.split(",");

        areaData = '{{ areaData }}';
        areaData = areaData.split(",");

        areaLabel = '{{ areaLabel }}';
        areaLabel = areaLabel.split(",");

        pieData = '{{ pieData }}';
        pieData = pieData.split(",");

        pieLabel = '{{ pieLabel }}';
        pieLabel = pieLabel.split(",");

        DAUIncrease = '{{ DAUIncrease }}';
        WAUIncrease = '{{ WAUIncrease }}';
        MAUIncrease = '{{ MAUIncrease }}';
    </script>
    
    <script type="text/javascript" src="{% static 'dashboard/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/scroll-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/sb-admin-2.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/datatables.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/card-status.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-area.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-pickup.js' %}"></script>
    {% endcompress %} 
{% endblock %}