{% extends 'dashboard/base.html' %} 
{% load static %} 
{% load humanize %} 
{% load compress %} 
{% load eatple_app_extras %} 

{% block content %}
    <div class="card-body">
        <div class="container">

            <!-- 4 Card -->
            <div class="row">

                <!-- Toal Eatplepass Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 발급된 잇플패스</div>
                                    <div class="h6 font-weight-bold text-success"><i class="fas fa-angle-up"></i> {{ totalStock }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalOrder }} 잇플패스</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-ticket-alt fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Daily Selled Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 판매량</div>
                                    <div class="h6 font-weight-bold" id="TotalStockStatus"><i id="TotalStockStatusIcon" class="fas"></i> {{ totalStockIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalStock }}개</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-boxes fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 픽업</div>
                                    <div class="h6 font-weight-bold text-danger">
                                        </i> <small>주문 실패</small> : {{ orderFailed }}개</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalPickuped }} 개</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-inbox fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Daily Earning Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">오늘의 거래액</div>
                                    <div class="h6 font-weight-bold" id="TotalPriceStatus"><i id="TotalPriceStatusIcon" class="fas"></i> {{ totalPriceIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">
                                        {{ totalPrice|intcomma }}원
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-won-sign fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <!-- Charts -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card bg-dark-gray text-white shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header bg-dark-gray py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">일일 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card bg-dark-gray text-white shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header bg-dark-gray py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">일일 주문 차지 비율<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                <i class="fas fa-circle text-primary"></i> 베스트 메뉴 : {{ menus.first }} {{ menus.first.current_stock }}개
            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Daily PickupTime Chart -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12 col-md-12 col-lg-12">
                    <div class="card bg-dark-gray text-white shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header bg-dark-gray py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">실시간 픽업 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myPickupTimeChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 4 Card -->
            <div class="row">

                <!-- Total User Counter Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-secondary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 가입자 수</div>
                                    <div class="h6 font-weight-bold" id="TotalUserStatus"><i id="TotalUserStatusIcon" class="fas"></i> {{ totalUserIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalUser }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DAU Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-info shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">DAU</div>
                                    <div class="h6 font-weight-bold" id="DAUStatus"><i id="DAUStatusIcon" class="fas"></i> {{ DAUIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ DAU }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WAU Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-warning shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">WAU</div>
                                    <div class="h6 font-weight-bold" id="WAUStatus"><i id="WAUStatusIcon" class="fas"></i> {{ WAUIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ WAU }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MAU Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-success shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">MAU</div>
                                    <div class="h6 font-weight-bold" id="MAUStatus"><i id="MAUStatusIcon" class="fas"></i> {{ MAUIncrease }}</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ MAU }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <!-- 4 Card -->
            <div class="row">

                <!-- Total User Counter Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-secondary shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">서비스 지역 사용자</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ userInService }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- User In Service Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-info shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">1회 사용자</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ inActive }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- WAU Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-warning shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">2회 이상 사용자</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ getActive }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MAU Card -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-success shadow py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">미 사용자</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-100">{{ notActive }} 명</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-white"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Daily Area Chart -->
            <div class="row">
                <!-- Area Chart -->
                <div class="col-xl-12 col-md-12 col-lg-12">
                    <div class="card bg-dark-gray text-white shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header bg-dark-gray py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">실시간 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myDailyAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %} 

{% block content_js %}
    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level javascript -->
    {% compress js %}
    <script>
        totalUserIncrease = '{{ totalUserIncrease }}'
        totalStockIncrease = '{{ totalStockIncrease }}'
        totalPriceIncrease = '{{ totalPriceIncrease }}'

        pickupChartLabel = '{{ pickupChartLabel }}';
        pickupChartLabel = pickupChartLabel.split(",");

        pickupChartData = '{{ pickupChartData }}';
        pickupChartData = pickupChartData.split(",");

        areaDailyData = '{{ areaDailyData }}';
        areaDailyData = areaDailyData.split(",");

        areaDailyLabel = '{{ areaDailyLabel }}';
        areaDailyLabel = areaDailyLabel.split(",");

        areaData = '{{ areaData }}';
        areaData = areaData.split(",");

        areaLabel = '{{ areaLabel }}';
        areaLabel = areaLabel.split(",");

        pieData = '{{ pieData }}';
        pieData = pieData.split(",");

        pieLabel = '{{ pieLabel }}';
        pieLabel = pieLabel.split(",");

        DAUIncrease = '{{ DAUIncrease }}';
        WAUIncrease = '{{ WAUIncrease }}';
        MAUIncrease = '{{ MAUIncrease }}';
    </script>
    <script type="text/javascript" src="{% static 'dashboard/js/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/scroll-to-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/sb-admin-2.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/datatables.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/card-status.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-area.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/js/chart-pickup.js' %}"></script>
    {% endcompress %} 
{% endblock %}