{% load static %}
{% load humanize %}
{% load compress %}
{% load eatple_app_extras %}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="/">
    <meta name="author" content="/">

    <title>세일즈 - 대쉬보드</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/img/favicon.ico' %}"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'dashboard/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/sb-admin-2.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
  </head>

  <body>
    <main role="main">

      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <ul class="visible-md visible-lg navbar-nav bg-very-dark sidebar sidebar-dark accordion fixed-left" id="accordionSidebar">
          <div class="side-nav m-2">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
              <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-tools"></i>
              </div>
              <div class="sidebar-brand-text mx-3">잇플<sup> 2.0.0V</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
              <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>대쉬보드</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
              BOOKMARKS
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>관리자</span>
              </a>
              <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">관리자 사이트 맵</h6>
                  <a class="collapse-item" href="/admin">관리자 툴</a>
                </div>
              </div>

              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-list-alt"></i>
                <span>세일즈</span>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                  <h6 class="collapse-header">세일즈 팀 사이트 맵</h6>
                  <a class="collapse-item" href="/sales/dashboard">메뉴 실시간 현황</a>
                  <a class="collapse-item" href="/sales/menu_list">메뉴 리스트</a>
                </div>
              </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center w-100">
              <button class="rounded-circle border-0 p-2" id="sidebarToggle"></button>
            </div>
          </div>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content" class="bg-dark">
            <div class="container-fluid">
              <div class="card-body">

                <!-- 4 Card -->
                <div class="row">

                  <!-- Daily Selled Card -->
                  <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 판매량</div>
                            <div class="h6 font-weight-bold" id="TotalStockStatus"><i id="TotalStockStatusIcon" class="fas"></i> {{ totalStockIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalStock }}개</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-boxes fa-2x text-white"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 픽업</div>
                            <div class="h6 font-weight-bold text-danger"></i> <small>주문 실패</small> : {{ orderFailed }}개</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-100">{{ totalPickuped }} 개</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-inbox fa-2x text-white"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                                    
                  <!-- Daily Earning Card -->
                  <div class="col-xl-4 col-md-6 mb-4">
                    <div class="card bg-dark-gray text-white border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">활성화된 점포</div>
                            <div class="h6 font-weight-bold" id="WASStatus"><i id="WASStatusIcon" class="fas"></i> {{ WASIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-100">
                              {{ WAS }} 점포
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-store fa-2x text-white"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Table List -->
                <div class="row">
                  <div class="col-xl-12 col-md-12 mb-12">
                    <div class="card bg-dark-gray text-white shadow mb-4">
                      <div class="card-header bg-dark-gray text-white">
                        <h6 class="font-weight-bold text-primary">메뉴 현황 리스트<small class="blockquote-footer">{{ currentDate }}</small></h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-sm small table-borderless table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr >
                                  <th style="border-bottom: none;" scope="col">점포명</th>
                                  <th style="border-bottom: none;" scope="col">구분</th>
                                  <th style="border-bottom: none;" scope="col">담당자 번호</th>
                                  <th style="border-bottom: none;" scope="col">메뉴</th>
                                  <th style="border-bottom: none;" scope="col">총 주문</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for store in stores %}
                                <tr class="text-white">
                                  <th><a href="{{ site.url }}/admin/eatple_app/store/{{ store.id }}/#/tab/inline_1/">{{ store.name }}</a></th>
                                  <td>{{ store.id|storeType }}</td>
                                  <td>{{ store.id|storePhoneNumber }}</td>
                                  <td>
                                    <table class="table">
                                      <thead>
                                        <tr class="small row">
                                          <th style="border-bottom: none; border-top: none;" class="col-md-4"><small>메뉴명</small></th>
                                          <th style="border-bottom: none; border-top: none;" class="col-md-2"><small>주문량</small></thstyle="border-bottom: none;">
                                          <th style="border-bottom: none; border-top: none;" class="col-md-2"><small>주문 가능</small></th>
                                          <th style="border-bottom: none; border-top: none;" class="col-md-3"><small>픽업 수량</small></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for menu in menus %}
                                          {% if menu.store.name == store.name %}
                                          <tr class="small row text-white">
                                            <td class="col-md-4">{{ menu.name }}</td>
                                            <td class="col-md-2">{{ menu.current_stock }}개</td>
                                            <td class="col-md-2">{{ menu.max_stock }}개</td>
                                            <td class="col-md-3">
                                              {{ menu.pickuped_stock }} / {{ menu.current_stock }}개
                                              ({{ menu.pickuped_stock|div:menu.current_stock }}%)
                                            </td>
                                          </tr>
                                          {% endif %}
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </td>
                                  <td>{{ store.id|totalStock }}개</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
                
                
              </div>
            </div>
          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="text-muted bg-dark">
            <a id="scroll-to-top" href="#" class="btn btn-primary btn-lg scroll-to-top-btn" role="button"><i class="fas fa-chevron-up"></i></a>
          </footer>
          <!-- End of Footer -->
          
        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->
    </main>


    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level javascript -->
    {% compress js %}
      <script>
        totalStockIncrease = '{{ totalStockIncrease }}'
        

        WASIncrease = '{{ WASIncrease }}'     
      </script>
      <script type="text/javascript" src="{% static 'dashboard/js/base.js' %}"></script>
      <script type="text/javascript" src="{% static 'dashboard/js/scroll-to-top.js' %}"></script>
      <script type="text/javascript" src="{% static 'dashboard/js/sb-admin-2.js' %}"></script>
      <script type="text/javascript" src="{% static 'dashboard/js/datatables.init.js' %}"></script>
      <script type="text/javascript" src="{% static 'dashboard/js/card-status.init.js' %}"></script>
    {% endcompress %}

  </body>
</html>
