{% load static %}
{% load humanize %}
{% load compress %}
{% load eatple_app_extras %}

<html>
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>잇플 - Dashboard</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/sb-admin-2.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
  </header>

  <body>
    <main role="main">

      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <ul class="visible-md visible-lg navbar-nav bg-gradient-primary sidebar sidebar-dark accordion fixed-left" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Eatple<sup> 1.0.0V</sup></div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
            <a class="nav-link" href="">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>대쉬보드</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            BOOKMARKS
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>관리자</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">관리자 사이트 맵</h6>
                <a class="collapse-item" href="/admin">관리자 툴</a>
                <a class="collapse-item" href="/admin">KPI</a>
              </div>
            </div>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">
            <div class="card-body">
              <div class="container">

                <!-- 4 Card -->
                <div class="row">

                  <!-- Toal Eatplepass Card  -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 발급된 잇플패스</div>
                            <div class="h6 font-weight-bold text-success"><i class="fas fa-angle-up"></i> {{ totalStock }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalOrder }} 잇플패스</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-ticket-alt fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Daily Selled Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 판매량</div>
                            <div class="h6 font-weight-bold" id="TotalStockStatus"><i id="TotalStockStatusIcon" class="fas"></i> {{ totalStockIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalStock }}개</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-boxes fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Earnings (Monthly) Card Example -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">일일 픽업</div>
                            <div class="h6 font-weight-bold text-danger"></i> <small>주문 실패</small> : {{ orderFailed }}개</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalPickuped }} 개</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-inbox fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                                    
                  <!-- Daily Earning Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-primary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">오늘의 거래액</div>
                            <div class="h6 font-weight-bold" id="TotalPriceStatus"><i id="TotalPriceStatusIcon" class="fas"></i> {{ totalPriceIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                              {{ totalPrice|intcomma }}원
                            </div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Daily Area Chart -->
                <div class="row">
                  <!-- Area Chart -->
                  <div class="col-xl-12 col-md-12 col-lg-12">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">실시간 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-area">
                          <canvas id="myDailyAreaChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- 4 Card -->
                <div class="row">
                  <!-- DAU Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-info shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">DAU</div>
                            <div class="h6 font-weight-bold" id="DAUStatus"><i id="DAUStatusIcon" class="fas"></i> {{ DAUIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ DAU }} 명</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- WAU Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-warning shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">WAU</div>
                            <div class="h6 font-weight-bold" id="WAUStatus"><i id="WAUStatusIcon" class="fas"></i> {{ WAUIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ WAU }} 명</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- MAU Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-success shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">MAU</div>
                            <div class="h6 font-weight-bold" id="MAUStatus"><i id="MAUStatusIcon" class="fas"></i> {{ MAUIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ MAU }} 명</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Total User Counter Card -->
                  <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-bottom-secondary shadow py-2">
                      <div class="card-body">
                        <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary text-uppercase mb-1">총 가입자 수</div>
                            <div class="h6 font-weight-bold" id="TotalUserStatus"><i id="TotalUserStatusIcon" class="fas"></i> {{ totalUserIncrease }}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalUser }} 명</div>
                          </div>
                          <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <!-- Charts -->
                <div class="row">
                  <!-- Area Chart -->
                  <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">일일 주문 현황<small class="blockquote-footer">{{ currentDate }}</small></h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-area">
                          <canvas id="myAreaChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- Pie Chart -->
                  <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">일일 주문 차지 비율<small class="blockquote-footer">{{ currentDate }}</small></h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                          <canvas id="myPieChart"></canvas>
                        </div>
                        <div class="mt-4 text-center small">
                          <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> 베스트 메뉴 : {{ menus.first }} {{ menus.first.current_stock }}개
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Table List -->
                <div class="row">
                  <div class="col-xl-12 col-md-12 mb-12">
                    <div class="card shadow mb-4">
                      <div class="card-header">
                        <h6 class="font-weight-bold text-primary">메뉴 현황 리스트<small class="blockquote-footer">{{ currentDate }}</small></h6>
                      </div>
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-sm small table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead class="small">
                                <tr >
                                  <th style="border-bottom: none;" scope="col">점포명</th>
                                  <th style="border-bottom: none;" scope="col">구분</th>
                                  <th style="border-bottom: none;" scope="col">담당자 번호</th>
                                  <th style="border-bottom: none;" scope="col">메뉴</th>
                                  <th style="border-bottom: none;" scope="col">총 주문</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for store in stores %}
                                <tr>
                                  <th>{{ store.name }}</th>
                                  <td>{{ store.id|storeType }}</td>
                                  <td>{{ store.id|storePhoneNumber }}</td>
                                  <td style=" padding: 0;">
                                    <table class="table table-sm" width="100%" cellspacing="0">
                                      <thead>
                                        <tr class="small row">
                                          <th style="border-bottom: none; border-top: none;" class="col-md-4"><small>메뉴명</small></th>
                                          <th style="border-bottom: none; border-top: none;" class="col-md-2"><small>주문량</small></thstyle="border-bottom: none;">
                                          <th style="border-bottom: none; border-top: none;" class="col-md-2"><small>주문 가능</small></th>
                                          <th style="border-bottom: none; border-top: none;" class="col-md-3"><small>픽업 수량</small></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for menu in menus %}
                                          {% if menu.store.name == store.name %}
                                          <tr class="small row">
                                            <td class="col-md-4">{{ menu.name }}</td>
                                            <td class="col-md-2">{{ menu.current_stock }}개</td>
                                            <td class="col-md-2">{{ menu.max_stock }}개</td>
                                            <td class="col-md-3">
                                              {{ menu.pickuped_stock }} / {{ menu.current_stock }}개
                                              ({{ menu.pickuped_stock|div:menu.current_stock }}%)
                                            </td>
                                          </tr>
                                          {% endif %}
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                  </td>
                                  <td>{{ store.id|totalStock }}개</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                 </div>
                </div>
                
                <!-- Menu Card List -->
                <div class="row">
                  {% for menu in menus %}
                    <div class="col-lg-3 col-md-6 col-sm-6">
                      <div class="card mb-3 shadow-sm">
                          {% if menu.current_stock == menu.max_stock %}
                            <img src={{ menu.soldout_image.url }} class="card-img-top" text="Thumbnail" />
                          {% else %}
                            <img src={{ menu.image.url }} class="card-img-top" text="Thumbnail" />
                          {% endif %}
                        
                          <div class="card-body">
                          <blockquote class="blockquote">
                            <h6 class="mb-0">{{ menu.name }}</h6>
                            <small class="blockquote-footer text-right">{{ menu.store.name}}</small>
                          </blockquote>

                          <div class="d-flex justify-content-between align-items-center">
                              <a href="{{ site.url }}/admin/eatple_app/store/{{ menu.store.id }}/#/tab/inline_1/">
                                <button type="button" class="btn btn-sm btn-outline-secondary">수정</button>
                              </a>
                              <div class="btn-group">
                                {% if menu.current_stock == menu.max_stock%}
                                  <button type="button" class="btn btn-sm btn-danger text-white">매진</button>
                                {% endif %}
                                {% if menu.status == "open" and menu.store.status == "open" %}
                                  <button type="button" class="btn btn-sm btn-success text-white">열림</button>
                                {% else %}
                                  <button type="button" class="btn btn-sm btn-secondary text-white">닫힘</button>
                                {% endif %}
                              </div>
                          </div>
                        </div>

                        <div class="card-footer d-flex justify-content-between align-items-center text-muted">
                          <small class="text-muted">주문 상태</small>
                          <small class="text-muted">{{ menu.current_stock }}/{{ menu.max_stock }}</small>
                        </div>

                      </div>
                    </div>
                  {% endfor %}
                </div>

              </div>
            </div>
          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="text-muted">
            <div class="container">
              <p class="float-right">
                <a href="">위로 올라가버리기</a>
              </p>
              <p>요것은 잇플 관리자의 푸터라는 말씀입니다.</p>
              <p>어쩌실껀가여? <a href="{{ site.url }}/">다시 홈으로 가보실라우?</a> 아니면 <a href="{{ site.baseurl }}/admin"> 어드민 가던가</a>.</p>
            </div>
          </footer>
          <!-- End of Footer -->
          
        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->
    </main>


    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'base/vendor/chart.js/Chart.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'base/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'base/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level javascript -->
    {% compress js %}
      <script>
        totalUserIncrease = '{{ totalUserIncrease }}'
        totalStockIncrease = '{{ totalStockIncrease }}'
        totalPriceIncrease = '{{ totalPriceIncrease }}'
        
        areaDailyData = '{{ areaDailyData }}';
        areaDailyData = areaDailyData.split(",");

        areaDailyLabel = '{{ areaDailyLabel }}';  
        areaDailyLabel = areaDailyLabel.split(",");
        
        areaData = '{{ areaData }}';
        areaData = areaData.split(",");

        areaLabel = '{{ areaLabel }}';  
        areaLabel = areaLabel.split(",");

        pieData = '{{ pieData }}';
        pieData = pieData.split(",");

        pieLabel = '{{ pieLabel }}';  
        pieLabel = pieLabel.split(",");

        DAUIncrease = '{{ DAUIncrease }}';
        WAUIncrease = '{{ WAUIncrease }}';
        MAUIncrease = '{{ MAUIncrease }}';
        
      </script>
      <script type="text/javascript" src="{% static 'base/js/base.js' %}"></script>
      <script type="text/javascript" src="{% static 'base/js/sb-admin-2.js' %}"></script>
      <script type="text/javascript" src="{% static 'base/js/datatables.init.js' %}"></script>
      <script type="text/javascript" src="{% static 'base/js/chart-status.js' %}"></script>
      <script type="text/javascript" src="{% static 'base/js/chart-area.js' %}"></script>
      <script type="text/javascript" src="{% static 'base/js/chart-pie.js' %}"></script>
    {% endcompress %}

  </body>



</html>
