{% load static %}
{% load humanize %}
{% load compress %}
{% load eatple_app_extras %}

<html>
  <header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>잇플 - Dashboard</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'dashboard/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/sb-admin-2.css' %}">

    <!-- Custom fonts for this template-->
    <link href="{% static 'dashboard/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css">
  </header>

  <body>
    <main role="main">

      <!-- Page Wrapper -->
      <div id="wrapper">
        <!-- Sidebar -->
        <ul class="visible-md visible-lg navbar-nav bg-gradient-primary sidebar sidebar-dark accordion fixed-left" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fas fa-book"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Eatple<sup> 1.0.0V</sup></div>
          </a>

          <!-- Divider -->
          <hr class="sidebar-divider my-0">

          <!-- Nav Item - Dashboard -->
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fas fa-fw fa-tachometer-alt"></i>
              <span>대쉬보드</span></a>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
            BOOKMARKS
          </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>관리자</span>
            </a>
            <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">관리자 사이트 맵</h6>
                <a class="collapse-item" href="/admin">관리자 툴</a>
              </div>
            </div>

            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-list-alt"></i>
              <span>세일즈</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">세일즈 팀 사이트 맵</h6>
                <a class="collapse-item" href="/sales/dashboard">메뉴 실시간 현황</a>
                <a class="collapse-item" href="/sales/menu_list">메뉴 리스트</a>
              </div>
            </div>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

          <!-- Sidebar Toggler (Sidebar) -->
          <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
          </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- 404 Error Text -->
            <div class="text-center">
              <div class="error mx-auto" data-text="404">404</div>
              <p class="lead text-gray-800 mb-5">페이지 낫 파운드</p>
              <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
              <a href="index.html">&larr; Back to Dashboard</a>
            </div>

          </div>
          <!-- /.container-fluid -->

          
        </div>
        <!-- End of Content Wrapper -->

      </div>
      <!-- End of Page Wrapper -->
    </main>


    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Core plugin JavaScript-->
    <script type="text/javascript" src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    
    <!-- Page level plugins -->
    <script type="text/javascript" src="{% static 'dashboard/vendor/chart.js/Chart.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level javascript -->
    {% compress js %}
      <script type="text/javascript" src="{% static 'dashboard/js/sb-admin-2.js' %}"></script>
    {% endcompress %}

  </body>



</html>
